<div class="container py-3">
    <main>
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">ALTA</h4>
            </div>
            <div class="card-body">
               <app-alta></app-alta>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">MODIFICAR</h4>
              </div>
              <div class="card-body">
                 <app-modificar [container]="containerElegido"></app-modificar>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">ELIMINAR</h4>
              </div>
              <div class="card-body">
                 <app-baja [container]="containerElegido"></app-baja>
              </div>
            </div>
        </div>
      </div>
  
      <h2 class="display-6 text-center mb-4">LISTADO CONTAINERS</h2>
      <app-listado (containerElegido)="tomarContainer($event)"></app-listado>
    </main>
</div>
